#!/bin/bash

NAME={{app_name}}
SOCKFILE={{app_dir}}/run/gunicorn.sock
USER={{app_user}}
GROUP={{app_group}}
NUM_WORKERS=5

echo "Starting $NAME as `whoami`"

source {{venv_dir}}/bin/activate

# Create the run directory if it doesn't exist
RUNDIR=$(dirname $SOCKFILE)
test -d $RUNDIR || mkdir -p $RUNDIR

exec {{venv_dir}}/bin/gunicorn server:app \
  --chdir={{app_dir}} \
  --name=$NAME \
  --workers=$NUM_WORKERS \
  --user=$USER --group=$GROUP \
  --bind=unix:$SOCKFILE
